@use './variables' as *;

// typography

body {
    margin: 0;
    font-family: $font-family;
    background-color: $page-background-color;
}


// main sections

main {
    background-color: $calculator-background-color;
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 15px;
}