@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$font-family: 'Roboto', 'Arial', sans-serif;
$font-size: 2rem;
$font-color-body: black;
$font-color-hover: lightblue;